/* navigation用 */
.navButton {
  transition: 0.5s;
}

.navButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* layout.tsx用 */
.container {
  min-height: 100vh;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* galleryページ用 */
.gallery {
  overflow: hidden;
  position: relative; /* 相対位置指定 */
  margin-bottom: 4rem;
}
.gallery .mask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(255, 255, 255, 0.9); /* マスクは半透明 */
  transition: all 0.3s ease;
}
.gallery:hover .mask {
  opacity: 1; /* マスクを表示する */
}
.gallery .title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}
.gallery .caption {
  font-size: 0.8rem;
  width: 60%;
  text-align: center;
  line-height: 1.2rem;
  margin: 0 auto;
}

/* ナビゲーションのgalleryボタン押下時のモーダル用 */
.galleryModalBackground {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.galleryModalContainer {
  z-index: 2;
  padding: 2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  filter: drop-shadow(0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1));
}
.galleryModalButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 21rem;
}
.galleyModaltitle {
  margin-bottom: 2rem;
}
.galleyModalButton {
  padding: 0.5rem;
  width: 10rem;
  border-radius: 1rem;
}

/* メイン画像の切替えに合わせて表示・非表示を繰り返すアニメーション */
.fadeIn {
  animation: ease-in-out 8s linear infinite;
  animation-name: fadeInAnime;
  animation-fill-mode: forwards;
  opacity: 0;
}
/* 画像の「パっ」と切り替わっているのが見えないように最初と最後にopacity: 0の時間を設けている */
@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 599px) {
  .gallery .title {
    font-size: 1.1rem;
  }
  .gallery .caption {
    width: 80%;
    text-align: justify;
    letter-spacing: 0.05rem;
  }
  .galleryModalButtonContainer {
    flex-direction: column;
    width: 12rem;
  }
  .galleyModalButton:first-child {
    margin-bottom: 1.2rem;
  }
}
